<section>
  <div class="imgBx">
    <img src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2020/10/09/16022614303566.jpg" alt="">
  </div>
  <div class="contentBx">
    <div class="formBx">
      <h2>BoletoFiera</h2>
      <form autocomplete="off" [formGroup]="forma" (ngSubmit)="login()">
        <div class="inputBx">
          <span>Usuario</span>
          <input type="text"
          formControlName="usuario">
        </div>
        <div class="inputBx">
          <span>Contraseña</span>
          <input type="password"
          formControlName="contraseña">
        </div>
        <div class="inputBx">
          <span>Responsable</span>
          <input type="text"
          formControlName="trabajador">
        </div>
        <div class="inputBx">
          <button type="submit" [disabled]="boton">ENTRAR</button>
        </div>
      </form>
    </div>
  </div>
</section>
