@font-face { font-family:"Arial";font-variant:normal;font-style:normal;font-weight:normal;src:url("#FontID0") format(svg)}
    .fil5 {fill:none}
    .fil0 {fill:black}
    .fil1 {fill:#00B034}
    .fil2 {fill:#2B2A29}
    .fil3 {fill:#CABFCD}
    .fil4 {fill:black}
    .fnt3 {font-weight:normal;font-size:607.263px;font-family:'Arial'}
    .fnt4 {font-weight:normal;font-size:657.697px;font-family:'Arial'}
    .fnt0 {font-weight:normal;font-size:829.636px;font-family:'Arial'}
    .fnt2 {font-weight:normal;font-size:994.428px;font-family:'Arial'}
    .fnt1 {font-weight:normal;font-size:1103.39px;font-family:'Arial'}


    .butaca-gray{fill:rgb(202, 202, 202, 0.3);}
    .butaca-gray:hover{fill: rgba(202,202,202,1);cursor: pointer;}
    .butaca-blue{fill:rgba(255,233,0, 0.6);}
    .butaca-green{fill:rgb(0,153,117, 0.3);}
