@font-face { font-family:"Arial";font-variant:normal;font-style:normal;font-weight:normal;src:url("#FontID0") format(svg)}
    .fil0 {fill:none}
    .fil2 {fill:black}
    .fil3 {fill:#00B034}
    .fil4 {fill:#2B2A29}
    .fil5 {fill:#CABFCD}
    .fil1 {fill:black}
    .fnt6 {font-weight:normal;font-size:51.5513px;font-family:'Arial'}
    .fnt1 {font-weight:normal;font-size:55.1323px;font-family:'Arial'}
    .fnt2 {font-weight:normal;font-size:55.8345px;font-family:'Arial'}
    .fnt0 {font-weight:normal;font-size:59.8641px;font-family:'Arial'}
    .fnt3 {font-weight:normal;font-size:70.4306px;font-family:'Arial'}
    .fnt5 {font-weight:normal;font-size:84.42px;font-family:'Arial'}
    .fnt4 {font-weight:normal;font-size:93.6722px;font-family:'Arial'}

    .butaca-gray{fill:rgb(202, 202, 202, 0.3);}
    .butaca-gray:hover{fill: rgba(202,202,202,1);cursor: pointer;}
    .butaca-blue{fill:rgba(255,233,0, 0.6);}
    .butaca-green{fill:rgb(0,153,117, 0.3);}

    .svg{
      width: 80%;
      height: 100%;
      border: solid 2px chocolate;
    }
